<embedcss Href="/css/Home/WhyAlto/Header"></embedcss>
<header class="page-header">
    <h2>ALTO</h2>
    <h4 class="description">America's #1 FREE RESOURCE for inclusive activities and disability related benefits, services, products and more.</h4>
    <a class="btn waves-effect waves-light register-button">JOIN NOW</a>
</header>
<div class="banner valign-wrapper hide-on-med-and-down">
    <h3><a id="what-is-alto-link" href="#what-is-alto">WHAT IS ALTO?</a></h3>
    <h3><a href="#alto-membership">ALTO MEMBERSHIP</a></h3>
    <h3><a href="#member-benefits">MEMBER BENEFITS</a></h3>
</div>
