.embedded-chat-register-button-container {
    text-align: center;
    margin: 30px 0;

    > div {
        display: inline-block;
    }

    .chat-register-button {
        display: none;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            min-height: 60px;
            height: auto;
            line-height: normal;
            padding: 20px;
            border-radius: 100px;
            background-color: #1366da;
            font-size: 22px;
        }
    }
}
