<embedCss href="/css/Home/CategoryBannersStrip"></embedCss>
<div class="category-banners-strip not-init">
    <div class="carousel-cell">
        <a href="/Category/89/adaptive-living">
            <img src="/images/categories/banners/adaptive-living.jpg?v=1" alt="Adaptive living" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/104/entertainment">
            <img src="/images/categories/banners/entertainment.jpg" alt="Entertainment" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/77/everyday-shopping">
            <img src="/images/categories/banners/everyday-shopping.jpg" alt="Everyday shipping" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/120/outdoor-recreation">
            <img src="/images/categories/banners/outdoor-recreation.jpg" alt="Outdoor & recreation" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/111/sports-fitness">
            <img src="/images/categories/banners/sports-fitness.jpg" alt="Sports & fitness" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/807/calm-and-focus">
            <img src="/images/categories/banners/toys-function.jpg" alt="Toys & function" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="/Category/Travel">
            <img src="/images/categories/banners/travel.jpg" alt="Travel" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="https://yoocanfind.com" target="_blank">
            <img src="/images/categories/banners/yoocan-community.jpg" alt="yoocan community" />
        </a>
    </div>
</div>