<embedcss Href="/css/Home/FueBanner"></embedCss>
<div id="feu-banner">
    <div class="column">
        <img src="/images/home/join-icon.svg" />
        <h3>SEARCH FOR FREE</h3>
        <h5> Search for activites, organizations and products.</h5>
    </div>
    <div class="column">
        <img src="/images/home/expore-icon.svg" />
        <h3>JOIN FOR FREE</h3>
        <h5>Get FREE instant access to discounts and benefits.</h5>
    </div>
    <div class="column">
        <img src="/images/home/buy-and-save-icon.png" />
        <h3>SAVE MONEY</h3>
        <h5>Save $ on thousands of products and services.</h5>
    </div>
</div>