<embedcss href="/css/Home/Header"></embedcss>
<embedcss href="/lib/jquery-background-video/jquery.background-video"></embedcss>
<header id="home-header">
    <div id="background-photo"></div>
    <div id="background-gallery" class="slider">
        <ul class="slides">
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader01.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader02.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader03.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader04.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader05.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader06.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader07.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader08.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader09.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader10.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader11.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader12.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader13.jpg')"></li>
            <li style="background-image: url('https://altolife.azureedge.net/static/mobileheader14.jpg')"></li>
        </ul>
    </div>
    <video id="header-video" class="jquery-background-video" loop autoplay muted>
        <source src="https://altolife.azureedge.net/static/videostrip3.mp4" type="video/mp4">
    </video>
    <h1>UP TO $5,000</h1>
    <h3>IN MONEY SAVING BENEFITS FOR PEOPLE WITH DISABILITIES AND THEIR FAMILIES</h3>
    <a asp-action="Register" asp-controller="Account" class="btn waves-effect waves-teal register-button">
        <strong>Join as a Member</strong><br />
        to access your savings!
    </a>
    @*<h6 class="hide-on-small-and-down">Chelsie Hill: Dancer, speaker and author</h6>*@
    <div class="price-banner"></div>
</header>