<embedcss Href="/css/Home/JoinBannerStrip"></embedCss>
<div id="join-banner-container" class="valign-wrapper">
    
    <h3 class="banner valign"><span style="vertical-align: middle">GET YOUR CUSTOMIZED <span class="discounts">DISCOUNTS </span> HERE </span><a class="btn waves-effect waves-light">JOIN</a>
    </h3>
</div>