<embedcss Href="/css/Home/Partners"></embedcss>
<div class="partners-strip not-init">
    <div class="carousel-cell"><img src="/images/partners/01.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/06.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/glassesusa.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/beatmed.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/yourmechanic.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/koolway.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Amtrak150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/AT_T150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Bank of America150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Chase copy150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G3.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/04.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G5.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G12.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G15.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G32.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G49.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G54.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G71.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G73.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G84.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/G88.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G96.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G101.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G102.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/G104.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Megabus150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Metra150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Metro150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/MoMA150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Seaworld_logo.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Wells Fargo150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Verizon150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/UniversalThemeParks_logo150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Smithsonian150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/six flags logo150.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/variety.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/TOM.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/Ruderman.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/ReevNew.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/ReelAbilities.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/National Multiple Sclerosis Society.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/Miracle League.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/Gate.png" /></div>
    @*<div class="carousel-cell"><img src="/images/partners/Life.png" /></div>*@
    <div class="carousel-cell"><img src="/images/partners/Lucky Fin Project.png" /></div>
    <div class="carousel-cell"><img src="/images/partners/CAF.jpg" /></div>
    <div class="carousel-cell"><img src="/images/partners/English Federation Of Disability.png" /></div>
</div>