<embedcss href="/css/Home/RegisteredUserHeader"></embedcss>
<header id="home-registered-header">
    <div id="left-carousel" class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
        </div>
        <div class="carousel-item" href="#one!" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/home/insurance.jpg');">
            <div class="parent">
                <h3 class="title">INSURANCE</h3>
                <h4 class="sub-title">BE THE FIRST TO JOIN ALTO INSURANCE PROGRAM</h4>
                <a class="btn read-more waves-effect">READ MORE</a>
            </div>
        </div>
    </div>
    <div id="right-carousel" class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
        </div>
        <div class="carousel-item" href="#one!" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/home/640-chelsie.jpg');">
            <div class="parent">
                <h3 class="title">ALTO ADVOCATES ON YOUR BEHALF</h3>
                <a class="btn read-more waves-effect">READ MORE</a>
            </div>
        </div>
    </div>
</header>