<embedcss Href="/css/home/SplitHeader" />
<header id="home-split-header">
    <div class="row">
        <div class="col xs12 m12 left-banner">
            <div class="carousel" id="benefits-header-slider">
                <div class="carousel-cell san-francisco-tours">
                    <a asp-controller="Benefit" asp-action="Home">
                        <div class="content">
                            <h3 class="title">San Francisco Comprehensive Shuttle Tours</h3>
                            <h4 class="sub-title">Accessible Tours For Your Convenience</h4>
                        </div>
                    </a>
                </div>
                <div class="carousel-cell devils-tower">
                    <a asp-controller="Benefit" asp-action="Home">
                        <div class="content">
                            <h3 class="title">Devils Tower National Monument Wyoming</h3>
                            <h4 class="sub-title">Free Entrance</h4>
                        </div>
                    </a>
                </div>
                <div class="carousel-cell disneyland">
                    <a asp-controller="Benefit" asp-action="Home">
                        <div class="content">
                            <h3 class="title">Disneyland Access Pass</h3>
                            <h4 class="sub-title">Inclusive environment and accessible experiences for our Guests</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        @*<a asp-route="Product" asp-route-id="683">
                <div class="col xs12 m4 deal-of-the-month">
                    <div class="content">
                        <h3 class="title">DEAL OF<br /> THE MONTH</h3>
                        <h4 class="sub-title">BUY A SMARTDRIVE MX2 AND RECEIVE A Go FreeWheel™ FOR FREE (A $600 VALUE)!</h4>
                        <div class="read-more" asp-action="WhyAlto">SHOP NOW</div>
                    </div>
                </div>
            </a>*@
    </div>
</header>