@{
    ViewBag.Title = "Terms Of Use";
}
@section head {
    <style>
        #terms {
            padding: 0 15px;
        }

            #terms h1 {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }

            #terms h2 {
                font-size: 22px;
                font-weight: bold;
            }

            #terms strong {
                font-weight: bold;
            }
    </style>
}
<div class="container">
    <article id="terms">
        <h1>Alto's Terms of Use</h1>

        <p>
            Welcome to Yoocan Technologies Inc.'s (and/or any of its affiliates) ("Yoocan") website designated to the users of the Alto ecommerce members club platform ("Alto" “We” “Us” or “Our” etc.). Please read this carefully before you access and use Our website and its content, tools, and services (together, the "Site"). If you do not agree with the terms of this Agreement or with the terms of the Privacy Policy which you can find <a asp-action="PrivacyPolicy">here</a>, Please do not continue using the Site.<br />
            These terms of use (the "Agreement") sets out the legally binding terms of service for your access and use of Our Site (the "Services"), and by using the Site in any manner, including but not limited to visiting or browsing the Site, you (the "user" or "you" or "your" "subscriber" etc.) agree to be bound by this Agreement, including those additional terms and conditions and policies referred to here and/or available by hyperlink. This Agreement applies to all users of the Site, including without limitation users who are sellers, customers, merchants, service providers, organizations, contributors of content and/or other materials or services on the Site, and users who browse the Site even if they are not publishing in it or using it in any commercial matter.<br />
            By accessing or using the Site, you accept this Agreement and any modifications that We may make to this Agreement from time to time. We may update this Agreement at any time. The most current version of the policy will govern Our use of Your information and its last revised date shall be as of July 21, and changes will take effect immediately upon posting. This version of the Agreement supersedes all earlier versions, and comprises the entire agreement between you and Alto regarding the Site. It is your responsibility to review the most recent version of the Agreement frequently and remain informed about any changes to it.
        </p>

        <h2>
            1. Eligibility
        </h2>
        <p>
            The Site and Services are intended solely for persons who are 13 or older and who have legal capacity to use the Site for their purposes per applicable law. Any access to or use of the Site or Services by anyone under 13 or who does not hold the required legal capacity under the law applicable to him/her is expressly prohibited. By accessing or using the Site or Services you represent and warrant that you are 13 or older, allowed to use the Site under applicable law, and that all registration information you submit is accurate and truthful. Alto may, in its sole discretion, refuse to offer access to or use of the Site to any person or entity and may change its eligibility criteria at any time without notice to you.<br />
            Use of this Site by bots or other means for competing and/or commercial purposes (including, without limiting the foregoing, for purposes of gathering info and/or using data published on the Site) other than for Your own personal Use, is absolutely prohibited. Use of content on the Site which is of personal nature, such as (but not limited to) content uploaded by other users, is also prohibited unless otherwise authorized by Us in advance and in writing per each specific case, on a case by case basis. Use of this site for any purpose which is not in good faith and/or which is malicious is also prohibited.

        </p>

        <h2>
            2. The Site
        </h2>
        <p>
            The Site operates as Yoocan's members' club, and allows its users to purchase items and/or services which are intended for persons with disabilities and/or their families and/or care takers etc. and/or to any user which requires the same, in a variety of pricing formats and locations. Alto is not directly involved in the transactions between any of the Site's users and any party publishing services, products, etc on the Site. Alto has no control over the quality, safety, morality or legality of any aspect of the items or services listed by on the Site, the truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers to pay for items. Alto does not necessarily pre-screen content or information provided by users, and cannot ensure that a buyer or seller will actually complete a transaction. Consequently, Alto cannot and does not transfer legal ownership of items from the seller to the buyer.<br />
            Additionally, Alto cannot guarantee the true identity, age, and nationality of a user and encourages you to communicate directly with potential transaction partners through the tools available on the Site and asks that you do not arrange to meet users from the Site in person.
        </p>

        <p>
            You use the Site and the Services at your own risk. Alto is also not responsible for any information linked to from the Site and/or which appears on websites reachable through the Site and/or for any information you relay to third parties linked to or which appear on the Site.
        </p>

        <h2>
            3. User Accounts
        </h2>
        <p>
            The Services made available on the Site shall require you to open an account and subscribe with Alto under a personal account designated to you; you must complete the subscription process by providing current, complete and accurate information as prompted by the applicable subscription form. You also may be required to choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and account. You are entirely responsible for any and all activities that occur under your account. You agree to notify Alto immediately of any unauthorized use of your account or any other breach of security. Alto will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. You may not use anyone else's account at any time. You agree not to provide your username and/or password information to any other party other than Alto without Alto's express written permission.
        </p>
        <p>
            You must keep your account information updated and accurate at all times, including a valid email and address. You may not transfer or sell your account and user ID on the Site to any other party. If you are registering as a business entity or an organization of any kind, you personally guarantee that you have the authority to bind such entity to this Agreement. Alto reserves the right to refuse service via the Site to anyone at any time. The Services are not available to temporarily or indefinitely suspended registered members of the Site. Alto reserves the right, in Alto's sole discretion, to cancel unconfirmed or inactive accounts.
        </p>
        <p>
            Each registration and subscription is for the personal use of the registered user or subscriber only. You may not share your log-in details or password with any other person. You may not share or transfer your subscription. Alto does not allow multiple users (networked or otherwise) to access the Site and/or any of the Services through a single name and password and may cancel or suspend your access to the Site and/or the Services if you do this, or breach any of this Agreement without further obligation to you.
        </p>

        <h2>
            4. Subscription and Cancellation
        </h2>
        <p>
            Alto offers you subscription to the Alto Members Club ("Subscription"), which grants you with certain discounts and special offers for certain products and/or services offered through the Site and/or within the Scope of the Services. The initial term of the Subscription shall be for a period of 12 months ("Initial Term"). Alto reserves the right to vary the amount of types of service that it makes available to different categories of users at any time. Alto will try to process your Subscription promptly but does not guarantee that your Subscription will be activated. By submitting your payment and other subscription details, you are making an offer to us to buy a Subscription and such offer will only be accepted by Alto and a contract shall be formed when Alto has successfully verified your payment and contact details, at which point Alto will provide you (or, in the case of a gift Subscription, the recipient of the gift) with access to the Subscription. At the end of the process, you will receive written confirmation when your Subscription offer has been accepted. Please note that beginning the fulfilment of a Subscription does not signify acceptance.
        </p>
        <p>
            Unless specifically stated otherwise by Alto, in any instrument, when you place your Subscription order with Alto, if you choose an auto-renew payment option, you agree that at the end of the Initial Term (and of each renewal period thereafter), your Subscription will automatically renew for the same subscription period at the then prevailing renewal rate, which may be changed from time to time. If you choose a manual-renew payment option, we will contact you at the end of the Initial Term with an offer to renew your subscription at the then prevailing renewal rate, which may be changed from time to time. You may cancel your Subscription at any time as set out below.
        </p>
        <p>
            Unless specifically stated otherwise by Alto, when you place your Subscription order, you have the right to cancel your Subscription at any time according to the applicable law. You may notify us of your wish to cancel your subscription by contacting our support: info@@altolife.com.
        </p>

        <h2>
            5. Fees and Payments
        </h2>
        <p>
            The price to be paid for your Subscription will be USD 4.99 per each month, paid in one installment of USD 59.90 for a whole 12 months term upon enrollment, or as it may be otherwise made clear to you on the Subscription order pages or during the order process; such fees and may vary from time to time. You agree to pay the fees at the rates notified to you at the time you purchase your Subscription. We will always inform you in advance of any increase in the price of your Subscription and offer you an opportunity to cancel it if you do not wish to pay the new price. All payments (including any applicable taxes) must be made in advance in US Dollars or other currency specified by Alto. You are responsible for the payment of all charges and expenses associated with the use, by you or someone else via your account, of the Site and/or the Services.
        </p>
        <p>
            When you purchase a Subscription or access to any of Alto's Services and/or the respective parts of the Site, you must provide us with complete and accurate payment information. By submitting payment details you confirm that you are entitled to use those payment details for this purpose. If we do not receive payment authorisation or any authorisation is subsequently cancelled, we may immediately terminate or suspend your access to your account. In suspicious circumstances we may contact the issuing bank/payment provider and/or law enforcement authorities or other appropriate third parties.
        </p>
        <p>
            You may be able to use the Site and/or Services to purchase products and/or services from Alto's third party partners. In that event, your contract for such products will be with the third party partner and not with Alto. Such third party shall solely bear all warranties and liabilities for the products and/or services provided to you, including but not limited to returns (including pick up and credits), frauds, condition of such products and/or services, etc.
        </p>

        <h2>
            6. Listing and Selling
        </h2>
        <p>
            Our Services include, among others, accessibility to sellers and buyers, whereby a seller may offer, whether directly and/or indirectly, certain products and/or services of particular interest to users. To access and use such option, you may register an account with the Site under the "Join Alto as a Vendor" (or similar) link by providing the information required for such accounts, including (without limiting the foregoing): standard information of yourself, and any other information which shall be indicated as required by Alto. Alto may reject seller's application for an account or cancel an existing account in its sole discretion. In certain cases, at Alto's sole discretion, the Company shall discuss such rejection and/or cancellation with you, however is not obligated to such process and/or to its outcome.
        </p>
        <p>
            By listing an item on the Site you warrant that you and all aspects of the item comply with the policies published by Alto with respect to the Site and with all applicable laws and regulations, including (without limiting the foregoing) those of the FDA, if applicable. You also warrant that you may legally sell the item. You must accurately describe your item and all terms of sale in your listing, according to the directions provided by Alto, which may vary (Alto may ask you to provide data files, pictures, descriptions, etc.). Your listings may only include text descriptions, tags, categorization, pictures, video and other content relevant to the sale of that item, which must be an accurate representation of the items offered for sale. You must not list an item more than once, unless the item’s listing has naturally expired. The price of the services and/or products listed by sellers is subject to such sellers' reaching to a written agreement with Alto regarding to the price and mutually agreed discount in relation to Subscriptions, and the price stated in each item listing description shall accurately represent such agreement. Warranties and liability for the sellers' products and/or services will be covered solely by the sellers. Returns, including pick up and credits will be handled solely by the sellers. Sellers may charge from their customers reasonable shipping and handling fees to cover the costs for packaging and posting the products, if applicable. Alto shall present your catalogue of products and/or services or any parts thereof within the Site and/or Services, in compliance with its policies at such time, and may promote certain Items or content of yourself or otherwise (such as of other Suppliers), within the scope of Services and/or Site, subject to its sole discretion.
        </p>
        <p>
            Alto The sellers alone are responsible for any transaction and/or any service or products offered on the Site and/or supplied by them and/or by any of their affiliates and/or business partners.
        </p>

        <h2>
            7. Use of Site
        </h2>
        <p>
            You are solely responsible for your conduct and activities on and regarding to the Site and any and all data, text, information, usernames, graphics, images, photographs, profiles, processes, artwork, audio, video, items, and links (together, "Content") that you submit, post, and display on the Site.
        </p>
        <p>
            You are granted permission to use the Site as set forth in this Agreement, provided that: (i) you will not copy or distribute any part of the Site in any medium, without Our written consent; (ii) you will not alter or modify any part of the Site other than as may be reasonably necessary to use the Site for its intended purpose; (iii) you will not breach this Agreement, any site policy or community guidelines, or any applicable law or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising); (iv) you will not infringe upon any third-party's copyright, patent, trademark, trade secret or other proprietary or intellectual property rights or rights of publicity or privacy; and (v) your use of the Site and content shall not be obscene, defamatory, libellous, unlawfully threatening, unlawfully harassing, impersonate or intimidate any person or falsely state or otherwise misrepresent your affiliation with any person, through for example, the use of similar email address, nicknames, or creation of false account(s) or any other method or device.
        </p>
        <p>
            You agree not to use or launch any automated system, including without limitation, robots, spiders, offline readers, etc. that accesses the Site in a manner that sends more request messages to Our servers than a human can reasonably produce in the same period of time by using a conventional on-line web browser. You agree not to collect, mine or reproduce any information from the Site, nor to use the communication systems provided by the Site for any commercial solicitation purposes, without our written authorization.
        </p>
        <p>
            We may permanently or temporarily terminate, suspend, or otherwise refuse to permit any and all current or future use of all or any portion of Our Site, without notice and liability, if, in Our sole determination, you violate any of the Agreement, including the following prohibited actions: (i) attempting to interfere with, compromise the system integrity or security or decipher any transmissions to or from the servers running the Site; (ii) taking any action that imposes, or may impose an unreasonable or disproportionately large load on Our infrastructure; (iii) uploading invalid data, viruses, worms, or other software agents through the Site; (iv) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding or attempting to hide your identity; (v) interfering with the proper working of the Site; or, (vi) bypassing the measures We may use to prevent or restrict access to the Site.
        </p>

        <h2>
            8. Content
        </h2>
        <p>
            By uploading Content to the Site you represent and warrant that you own and/or have the right to use such Content in this manner and that such Content does not infringe any third party intellectual property rights, including by way of promoting the Site and/or Alto. Alto does not claim ownership rights in your Content. You grant Us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable and transferrable right to exercise the copyright, publicity, and database rights you have in the Content, in any media now known or not currently known, with respect to your Content. You agree to allow Us to store or re-format your Content on the Site and display and edit your Content on the Site in any way as We may choose.
            You are not permitted to copy, reproduce, reuse, retransmit, adapt, publish, frame, post, upload, distribute, modify, broadcast or make derivative works of any Content of other users in any way, including for any public or commercial purpose whatsoever, without the prior written consent of Alto or the lawful owners of such materials.<br />
            As part of a transaction with a user we directed to You and/or Your website, you may obtain personal information, including but not limited to email address and shipping information, from another user of the Site. Without obtaining prior permission from the other user, this personal information shall only be used for that transaction or for Site-related communications. You shall not use the foregoing information for unsolicited commercial messages. Without limiting the foregoing, without express consent from the user, you are not allowed to add any user of the Site to your email or physical mail list; personal email addresses shall not be made visible by other users of the Site and may be provided only by the users who own such email addresses.<br />
            We do not control the Content provided by users that is made available on the Site. You may find some Content to be offensive, harmful, inaccurate, or deceptive – and in such case report such content immediately to info@@altolife.com for Our inspection. There are also risks of dealing with underage persons, persons without legal capacity, people acting under false pretense, and dealing with international trade.<br />
            We are not responsible for the availability of outside websites or resources linked to or referenced on the Site. We do not endorse and are not responsible or liable for any content, advertising, products, or other materials on or available from such websites or resources. You agree that Alto shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such websites or resources or via pop ups which may appear when accessing the Site from your computer.
        </p>

        <h2>
            9. Indemnity
        </h2>
        <p>
            You agree to indemnify and hold Us and Our officers, directors, shareholders, agents, employees, consultants, affiliates, subsidiaries and third-party partners harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of your representations and warranties or this Agreement or the documents it incorporates by reference, your use of Our Site as well as reliance in the content therein, your violation of any law, statute, ordinance or regulation or the rights of a third party.
        </p>

        <h2>
            10. Warranties
        </h2>
        <p>
            Alto makes no representations about the suitability of the information, software, products, and services contained on this Site for any purpose. Your use of Our Site is at your sole risk. Alto and/or its suppliers make no representations about the suitability of the information, software, products, and services contained on this website for any purpose. All such information, software, products, and services on Our Site is provided to you "as is" and on an "as available" basis without warranty of any kind. We specifically disclaim all warranties and conditions of any kind, whether express, implied or statutory, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, title  and non-infringement. We disclaim any warranties regarding the security, reliability, timeliness, and performance of Our Site. We disclaim any warranties for any information or advice obtained through Our Site. In addition, no advice or information (oral or written) obtained by you from Us shall create any warranty. You understand and agree that you obtain data through the use of Our Site at your own discretion and risk and that you will be solely responsible for any consequences, losses, or damages that you may directly or indirectly incur or suffer as a result from attaining such data.<br />
            Unfortunately, no data transmission over the Internet can be guaranteed as totally secure. Whilst We strive to protect such information, We do not warrant and cannot ensure the security of any information that you transmit to us. Accordingly, any information that you submit to us is submitted at your own risk. Nevertheless, once We receive your information, We will take reasonable steps to preserve the security of such information.
        </p>

        <h2>
            11. Limitation of Liability; Release
        </h2>
        <p>
            You agree that in no event shall Alto (including Our parent, subsidiaries, and affiliates, and our and their officers, directors, agents and employees) be liable, and you agree not to hold us responsible, for any direct, indirect, incidental, special, consequential or exemplary damages or losses, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses, loss of money, goodwill or reputation, profits, other intangible losses (even if Alto has been advised of the possibility of such damages), arising out of or in connection with your use of Our Site and/or this Agreement or the inability to use Our Site or for any information, software, products, and services obtained through Our Site or otherwise arising out of the use of this Site, whether based on contract, tort, strict liability or otherwise, even if Alto has been advised of the possibility of damages. To the extent permitted under applicable law, Alto's total and complete liability to you or any third parties in any circumstance is limited to $100. Upon any dispute You have with one or more users, you release Alto (and Our affiliates and subsidiaries, and our and their respective officers, directors, employees and agents) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. In entering into this release you expressly waive any protections (whether statutory or otherwise) that would otherwise limit the coverage of this release to include only those claims which you may know or suspect to exist in your favor at the time of agreeing to this release.
        </p>

        <h2>
            12. Modifications; No Guarantee
        </h2>
        <p>
            We reserve the right at any time or times to modify or discontinue, temporarily or permanently, all or any portion of Our Site with or without notice. You agree that We shall not be liable to you or to any third party for any modification, suspension or termination of the Site (including, without limiting the foregoing, if we decide to remove any referral to your products, sites, or services, and/or if we change the way or order of such), and that We do not guarantee continuous, uninterrupted access to the Site; the operation of the Site may be interfered with by numerous factors outside Alto's control or otherwise.
        </p>

        <h2>
            13. Termination
        </h2>
        <p>
            You agree that We, in Our sole discretion, may issue a warning, temporarily suspend, indefinitely suspend, remove content or information, or your ability to use all or any portion of Our Site, without any compensation whatsoever, for any reason, including, without limitation, (a) if We believe that you have violated or acted inconsistently with the spirit of this Agreement or the documents or agreements it incorporates by reference, or (b) if We believe that your actions may cause legal liability for you, Our users or Alto. You agree that access to all or any portion of the Site under any provision of this Agreement may be affected without prior notice. You also agree that We shall not be liable to you or any third party for any termination of your use of or access to all or any portion of the Site. Additionally, You may also request that we remove any information posted by You and that we terminate Your account. Upon termination for any reason, you will continue to be bound by the terms of sections 5, 9, 10, 11, 12, 13, 14 and 15 to this Agreement.
        </p>

        <h2>
            14. Alto's Intellectual Property
        </h2>
        <p>
            The Site, and in connection therewith, any graphics, videos, logos, designs, page headers, button icons, scripts, code, texts, and service names and trademarks of Alto, and all other intellectual property rights embodied in and/or appearing in the Site, are the sole property of and/or licensed by Alto, and may not be used, copied, altered, reverse engineered, distributed and/or tampered with, including without limiting the foregoing as part of trademarks and/or as part of domain names or email addresses, by any third party for any purpose.
        </p>

        <h2>
            15. Miscellaneous
        </h2>
        <p>
            We shall be excused from performance hereunder to the extent that performance is prevented, delayed or obstructed by causes beyond Our reasonable control. If any provision of this Agreement is held to be unenforceable for any reason, such provision shall be reformed to the extent necessary to make it enforceable to the maximum extent permissible so as to affect the intent of the parties, and the remainder of this Agreement shall continue in full force and effect. This Agreement shall be governed by and construed under the laws of the State of Israel without reference to its conflict of law principles. Each party agrees to submit to the exclusive and personal jurisdiction of the courts located Tel Aviv, Israel. Any notices to Us must be sent to: Karlibach 1, Tel Aviv 6713205, via first class or air mail or overnight courier, and are deemed given upon receipt. The failure of Alto to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. You may not assign or otherwise transfer any of your rights hereunder without Our prior written consent, and any such attempt is void. The relationship between Us and you is not one of a legal partnership relationship, but is one of independent contractors. This Agreement shall be binding upon and inure to the benefit of the respective successors and assigns of the parties hereto.
        </p>
    </article>
</div>