<a target="_Blank" asp-controller="External" asp-action="RedirectToAltoWithToken" asp-route-returnUrl="/?utm_campaign=alto-promo-card">
    <div class="alto-card-promo card hoverable">
        <div class="card-content">
            <div class="top">
                <img class="transparent-logo" src="/images/transparent-logo.png">
                <h2 class="alto-card-title">
                    <strong>THE #1 RESOURCE</strong> FOR PEOPLE WITH DISABILITIES AND THEIR FAMILIES
                </h2>
                <img src="/images/icons/alto-icon.png" />
            </div>
        </div>
        <div class="card-button">
            VISIT NOW
        </div>
    </div>
</a>