<embedCss href="/css/Home/EventsStrip.css"></embedCss>
<div class="events-strip not-init">
    <div class="carousel-cell">
        <a asp-controller="External" asp-action="RedirectToAltoWithToken" asp-route-returnUrl="/?utm_campaign=EventsStrip_button"
           href="https://altolife.com/?utm_source=yoocan&utm_medium=banner&utm_campaign=EventsStrip_button" target="_blank">
            <img src="/images/events/alto-banner-wide.jpg" alt="Alto Advantage Club" />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="https://yoocanfind.com/ServiceProvider/673/autism-eats">
            <img src="/images/events/autism-eats.jpg?v=2" alt="Autism Eats Dinner, July 22." />
        </a>
    </div>
    <div class="carousel-cell">
        <a href="https://yoocanfind.com/ServiceProvider/323/suffering-the-silence-and-katy-brennan">
            <img src="/images/events/silence.jpg" alt="Breaking the Silence, July 27." />
        </a>
    </div>
</div>