<embedcss href="/css/home/magicalButton.css"></embedcss>
<div class="card-panel center-align hoverable" id="magical-button">
    <h4 id="magical-button-header">
        <span>THIS MAGICAL BUTTON DELIVERS</span>
        <span>YOOCAN STORIES TO YOU ON FACEBOOK:</span>
    </h4>
    <div class="fb-like" data-href="https://www.facebook.com/yooocandoanything" data-layout="button" data-action="like" data-size="large" data-show-faces="true"></div>
</div>