<embedCss href="/css/Home/MainPartners.css" />
<section id="main-partners">
    <h6>
        IN PARTNERSHIP WITH:
    </h6>
    <ul>
        <li>
            <a href="https://zeroproject.org" rel="nofollow noopener" target="_blank">
                <img src="/images/zp-copy.png" alt="Zero Project" />
            </a>
        </li>
        <li>
            <a href="http://gaates.org" rel="nofollow noopener" target="_blank">
                <img src="/images/gaates-full-logo-color-02.png" alt="GAATES" />
            </a>
        </li>
        <li>
            <a href="http://www.gari.info" rel="nofollow noopener" target="_blank">
                <img src="~/images/gari.png" alt="GARI: global accessibility reporting initiative" />
            </a>
        </li>
        <li>
            <a href="http://variety.org" rel="nofollow noopener" target="_blank">
                <img src="~/images/variety-logo-2.png" alt="Variety International - Variety International Children's Fund" />
            </a>
        </li>
        <li>
            <a href="http://tomglobal.org" rel="nofollow noopener" target="_blank">
                <img src="~/images/tom.png" alt="TOM: Tikkun Olam Makers" />
            </a>
        </li>
        <li>
            <a href="http://www.inspiredbydrive.com/" rel="nofollow noopener" target="_blank">
                <img src="~/images/partners/inspired.png" style="max-height: 65px;" alt="Inspired by drive" />
            </a>
        </li>
    </ul>
</section>