<embedcss Href="/css/Home/newUserIntro.css"></embedcss>
<div id="intro">
    <div class="column">
        <img src="/images/people.svg" />
        <h3>CONNECT AND SHARE YOUR EXPERIENCE WITH OTHERS</h3>
        <h5>Share your personal stories and give tips to help others</h5>
    </div>
    <div class="column">
        <img src="/images/read.svg" />
        <h3>EXPLORE EMPOWERING PERSONAL STORIES</h3>
        <h5>Browse stories, videos, photos and activities filtered by activity or limitation</h5>
    </div>
    <div class="column">
        <img src="/images/cart-intro.svg" />
        <h3>BUY AND FIND ACTIVITIES, PRODUCTS AND INNOVATION</h3>
        <h5>Discover ways to get active and find where to buy the newest products and innovation</h5>
    </div>

    <div class="signup-container">
        <a asp-action="Register" asp-controller="Account" class="btn waves-effect waves-teal">Sign Up Now</a>
    </div>
</div>