<embedCss href="/css/Home/PartnersStrip.css"></embedCss>
<div class="partners not-init">
    <div class="carousel-cell">
        <img src="/images/partners/01.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/04.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/06.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g3.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g5.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g12.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g15.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g30.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g32.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g33.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g49.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g54.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g73.jpg?v=1" />
    </div>
    @*<div class="carousel-cell">
            <img src="/images/partners/g96.jpg" />
        </div>*@
    <div class="carousel-cell">
        <img src="/images/partners/g101.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g102.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/g104.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/ability mate.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/ALTSO.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/bdfhandle.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/CAF.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/ReevNew.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Gate.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/inspired.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/inyard.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Israel Paralympic.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Kelsey.png" />
    </div>
    @*<div class="carousel-cell">
            <img src="/images/partners/Life.png" />
        </div>*@
    <div class="carousel-cell">
        <img src="/images/partners/Lucky Fin Project.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/makingsense.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Miracle League.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/National Multiple Sclerosis Society.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/paratrek.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Presentense.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/ReelAbilities.jpg?v=1" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/Ruderman.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/slickchiks.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/TACA.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/The Jewish Federation LA.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/TOM.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/u2mobility.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/variety.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/zooz.png" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/gaates.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/images/partners/zeroproject.jpg" />
    </div>
</div>