<embedcss href="/css/Home/SocialNumbers.css"></embedcss>
<ul class="social-numbers center">
    <li>
        <span>Access to <strong>1 million</strong> Families</span>
    </li>
    <li>
        <span><strong class="counter">1,400</strong> Storytellers</span>
    </li>
    <li>
        <span><strong class="counter">900</strong> Organizations</span>
    </li>
    <li>
        <span><strong class="counter">170,000</strong> Connections</span>
    </li>
    <li>
        <span><strong class="counter">100</strong> Countries</span>
    </li>
    <li>
        <span><strong><span class="counter">32</span>K</strong> Followers on Instagram</span>
    </li>
</ul>