@{
    ViewBag.Title = "Assistive technologies startups hub and investors club";
}
@section head {
    <embedCss href="/css/home/Technologies.css" />
}
<div id="yoocan-technologies-container">
    <header>
        <h1>
            THE YOOCAN TECHNOLOGIES
            <br />ASSISTIVE TECHNOLOGIES STARTUPS HUB
            <br />AND INVESTORS CLUB
        </h1>           
        <h2>FOR AND BY PEOPLE WITH DISABILITIES AND THEIR FAMILIES</h2>
    </header>
    <div class="container main-content">
        <h3>INNOVATION FIRST</h3>
        <p>We believe that part of our role at yoocan is to allow collaboration of the community in helping innovative technologies in early stages find partners, users and funding to accelerate their products.</p>
        <p>This is why we created the first and only assistive technologies startup hub and investors club in the world. We want to provide options for yoocan to help via the network of hundreds of organizations, vendors and thousands of members in the yoocan global community.</p>
        <h3>ASSISTIVE TECHNOLOGIES STARTUPS</h3>
        <p>We seek to find and support for-profit assistive technology early stage startups with a prototype or working beta. You must be in the area of smart cities, smart homes, VR, mobility and social, lifestyle solution app.</p>
        <ul>
            <li>Pre-seed/Seed $25k investment and support in raising the required additional early seed funding</li>
            <li>Support and advice in reaching and connecting with potential investors and strategic partners</li>
            <li>Option to reach out to users via our community to test and evaluate your product</li>
            <li>Content sharing</li>
        </ul>
        <h3>INVESTORS CLUB</h3>
        <p>If you are an investor or company interested in joining our investors club, you have the following options:</p>
        <ul>
            <li>Review portfolios of the most innovative early stage opportunities from around the world</li>
            <li>Connect and collaborate with yoocan to help you find what you seek to partner or invest in</li>
            <li>Invest together with us in hot and unique assistive technology related startups</li>
        </ul>
        <p><a href="mailto:moshe@@yoocantech.com">Click here</a> to contact our CEO, Moshe Gaon, for more information and collaboration. We would love to hear from you.</p>
    </div>
</div>