@model CategoryShopModel
<embedCss href="/css/shop/categoryHeader.css" />
<div id="category-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('@Model.HeaderPictureUrl')">
    <h1>@Model.CategoryName SHOP</h1>
</div>