#modal-container {
    max-height: 85%;
    width: 670px;
    padding: 0 70px;
}

#forgot-password-container {
    text-align: center;
    border-radius: 6px;
    max-width: 670px;
    margin: auto;

    .header {
        font-size: 32px;
        font-weight: 900;
        color: #4a4a4a;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-top: 54px;
    }

    #forgot-password-form {
        text-align: left;
        margin-bottom: 30px;

        #submit-container {
            text-align: center;
        }

        #submit {
            background-color: #3b55e6;
            width: 50%;
            max-width: 214px;
            font-size: 18px;
            height: 40px;
            line-height: 40px;
            border-radius: 100px;
            margin-top: 20px;
            margin-bottom: 70px;
        }
    }

    #login-link {
        margin-bottom: 45px;
        font-size: 14px;
        line-height: 1.86;
        color: #3a405b;
    }
}