<embedcss Href="/css/Account/MembershipConfirmation"></embedcss>
<section id="confirmation-step" class="step">
    <div id="confirmation-container">
        <h1>Welcome to the ALTO club!</h1>
        <p>We’re happy to have you as a part of our family.</p>
        <p>Start your savings today and enjoy the benefits of being a club member!</p>
        <p class="note">*Be sure to read the e-mail you received with your membership details.</p>
        <div>
            <button class="btn finish-button">Start Saving</button>
        </div>
    </div>
</section>