@{
    ViewData["Title"] = "Set password confirmation";
}

<p style="margin-top: 40px; text-align: center">
    Your password has been set. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>
