@model Alto.Web.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Set your password";
}
<div class="container" style="width: 90%; margin: 40px auto 40px auto">
    <div class="row">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                <h4 style="margin-bottom: 40px">Set your password</h4>
                <div asp-validation-summary="All" class="red-text"></div>
                <input asp-for="Code" type="hidden" />
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input asp-for="Email" />
                            <label asp-for="Email"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input asp-for="Password" />
                            <label asp-for="Password"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input asp-for="ConfirmPassword" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>