<div class="back-to-edit-strip">
    <span class="notice center">This Article is not yet published</span>
    <div class="right-actions">
        <a class="waves-effect waves-teal btn back-to-edit">BACK TO EDIT</a>
    </div>
</div>