<div class="publish-strip">
    <span class="notice center hide-on-med-and-down">This Article is not yet published</span>
    <div class="right-actions">
        <a class="waves-effect waves-teal btn preview hide-on-small-and-down" asp-action="Preview" asp-controller="Story">PREVIEW</a>
        <button class="waves-effect waves-light btn publish" type="submit">PUBLISH</button>
    </div>
</div>