@using Yooocan.Logic.Extensions

@model ForgotPasswordViewModel
@{
    var isAjax = Context.Request.IsAjaxRequest();
    if (isAjax)
    {
        Layout = null;
    }
    ViewData["Title"] = "Forgot your password?";
}
<embedcss Href="/css/Account/forgotPassword.css" />
<div id="forgot-password-container">
    <div asp-validation-summary="All"></div>
    <h4 class="header">Forgot Your Password?</h4>
    <form id="forgot-password-form" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input required id="email" name="email" type="email" class="validate">
                <label for="email" data-error="Incorrect email">YOUR E-MAIL</label>
            </div>
        </div>
        <div id="submit-container">
            <button type="submit" class="btn waves-effect" id="submit">RESET PASSWORD</button>
        </div>
    </form>
    <a asp-action="Login" asp-controller="Account" id="login-link">Know your password? Login here</a>
</div>
@if (isAjax)
{
    <script src="/dist/Account/forgotPassword.js" asp-append-version="true"></script>
}
else
{
    @section Scripts
    {
        <script src="/dist/Account/forgotPassword.js" asp-append-version="true"></script>
    }
}