@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="container">
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" style="margin-top: 40px;">
        <h4>Reset your password</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="row">
            <div class="input-field col s12 m8 l4 offset-m2">
                <input asp-for="Email" />
                <label asp-for="Email"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l4 offset-m2">
                <input asp-for="Password" />
                <label asp-for="Password"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l4 offset-m2">
                <input asp-for="ConfirmPassword" />
                <label asp-for="ConfirmPassword"></label>
            </div>
        </div>
        <div class="row">
            <div class="col offset-m4 m10">
                <button type="submit" class="btn">Reset</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
