.not-member {
    text-align: center;
    margin-top: 55px;

    h5 {
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin-bottom: 15px;
    }

    h6 {
        font-size: 18px;
        color: #1e2226;
        line-height: 1.2;

        strong {
            font-size: 32px;
            font-weight: bold;
            color: #900025;
        }
    }
}
