@import '../_variables.scss';

#travel-page {

    .page-header {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        background-size: cover !important;

        h1 {
            font-size: 40px;
            font-weight: 800;
            margin: 0;
            word-wrap: break-word;
            text-transform: uppercase;

            @media #{$small-and-up} {
                font-size: 60px;
            }
        }
    }

    .strip-title {
        font-size: 18px;
        font-weight: bold;
        color: #1e2226;
        margin-top: 35px;
        margin-bottom: 25px;

        @media #{$extra-small-only} {
            text-align: center;
        }
    }

    .travel-card {
        margin-bottom: 25px;

        .card {
            height: 354px;
            background-size: cover;
            background-position: center;
        }

        .discount {
            font-size: 40px;
            font-weight: bold;
            margin: 0;
        }

        .off {
            font-size: 22px;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .location {
            font-size: 32px;
            font-weight: bold;
            margin-top: 120px;
            margin-bottom: 0;
            min-height: 39px; //For "more cities that doesn't have 'location'.
        }

        .powered-by {
            margin-top: 15px;
            display: block;
        }

        a {
            color: #fff;
        }
    }

    @media #{"only screen and (min-width : 1750px)"} {
        .row .col {
            width: 20% !important;
        }
    }
}
