@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro|Material+Icons);
body {
    font-family: Source Sans Pro;
    font-size: 21px;
    line-height: 1.43;
    color: #000;
}

b,strong{
    font-weight: bold;
}