<embedcss Href="/css/Shared/Footer"></embedcss>
<footer id="page-footer">
    <div class="logo-container">
        <img class="icon" src="/images/icons/icon.png" alt="Alto icon" />
        <img class="logo" src="/images/logo-white.png" alt="Alto logo" />
        <h3 class="slogan">The #1 resource to find disability related activities, benefits, products and so much more.</h3>
    </div>
    <div>
        <div class="title-container">
            ALTO
        </div>
        <ul>
            <li><a asp-controller="Company" asp-action="Register">JOIN ALTO AS A PROVIDER</a></li>
            <li><a target="_blank" href="https://yoocanfind.com">YOOCAN COMMUNITY</a></li>
            <li><a target="_blank" asp-route="TermsOfUse">TERMS OF USE</a></li>
            <li><a target="_blank" asp-route="PrivacyPolicy">PRIVACY POLICY</a></li>
            <li><a asp-route="About">ABOUT US</a></li>
            <li><a asp-action="WhyAlto" asp-controller="Home">WHY ALTO</a></li>
            <li><a href="mailto:info@@altolife.com">CONTACT US</a></li>
        </ul>
    </div>
</footer>