/*Importing Alto (Bootstrop variables, need more breakpoints)*/
$max-extra-small-screen: 767px !default;
$max-small-screen: 991px !default;
$max-medium-screen: 1199px !default;
$max-large-screen: 1439px !default;

$small-screen: $max-extra-small-screen + 1px !default;
$medium-screen: $max-small-screen + 1px !default;
$large-screen: $max-medium-screen + 1px !default;
$extra-large-screen: $max-large-screen + 1px !default;

$small-and-up: "only screen and (min-width : #{$small-screen})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen})" !default;
$extra-large-and-up: "only screen and (min-width : #{$extra-large-screen})" !default;
$extra-small-only: "only screen and (max-width : #{$max-extra-small-screen})" !default;
$small-and-down: "only screen and (max-width : #{$max-small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$max-medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$max-large-screen})" !default;
$small-only: "only screen and (min-width : #{$small-screen}) and (max-width : #{$max-small-screen})" !default;
$medium-only: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$max-medium-screen})" !default;
$large-only: "only screen and (min-width : #{large-screen}) and (max-width : #{$max-large-screen})" !default;
$extra-large-only: "only screen and (min-width : #{$extra-large-screen})" !default;

#main-page-header {
    $header-height: 315px;
    color: #fff;

    @media #{$large-and-up} {
        display: flex;
        flex-wrap: wrap;
    }

    > div {
        min-height: $header-height;
    }

    .left-col {
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://yooocanlive.azureedge.net/static/images/paint-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            padding: 0 5%;
        }

        h1 {
            margin-top: 0;
            font-size: 42px;
            font-weight: 800;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 26px;
            margin-top: 0;
            margin-bottom: 0;
        }

        @media #{$medium-and-down} {

            h1 {
                font-size: 40px;
                font-size: 4.6vw;
            }

            h3 {
                font-size: 24px;
            }
        }

        @media #{$small-and-down} {
            h1 {
                font-size: 30px;
            }

            h3 {
                font-size: 18px;
            }
        }

        @media #{$extra-small-only} {

            .btn.add-new {
                font-size: 24px;
            }
        }
    }

    .right-col {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;

        .image-container {
            position: relative;
            height: $header-height;
            background-size: cover !important;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px 48px;
        }

        h3 {
            font-size: 30px;
            color: #fff;
        }

        .details {
            color: #fff;
            text-transform: uppercase;

            .title {
                font-size: 30px;

                @media #{$extra-small-only} {
                    font-size: 24px;
                }

                font-weight: bold;
                line-height: 1.25;
                margin: 5px 0;
            }

            .author {
                height: 15px;
                font-size: 12px;
                letter-spacing: 1.1px;
                text-align: left;
            }

            .by {
                font-family: Source Sans Pro;
                font-style: italic;
                text-transform: none;
            }

            .tag {
                border-radius: 3px;
                padding: 3px 9px;

                span {
                    height: 12px;
                    font-family: Montserrat;
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: #ffffff;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
            }
        }
    }
}
