#cards {
    $cards-margin: 2px;

    margin: 0 0 50px -1*$cards-margin;

    li {
        padding-left: $cards-margin;
        padding-bottom: $cards-margin;
        width: 50%;
        height: 50vw;
        float: right;
        display: flex;
        align-items: stretch;
        overflow: hidden;

        &.double {
            width: 100%;
        }

        a {
            display: flex;
            align-items: stretch;
            width: 100%;
        }

        $vertical-padding: 7%;
        $horizontal-padding: 8%;

        .mobile-card {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            padding: $vertical-padding $horizontal-padding;
            position: relative;

            &.shop {
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                border: solid 1px #9b9b9b;

                &.category {
                    border: 0;

                    h2 {
                        color: #fff;
                    }
                }

                h2 {
                    color: #9b9b9b;
                    padding-top: $vertical-padding;
                    padding-left: $horizontal-padding;
                    margin: 0;
                }

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    max-height: 70%;
                }

                h6 {
                    padding: $vertical-padding 0;
                    text-align: center;
                    background-color: #9b9b9b;
                    position: static;
                    color: #fff;
                }
            }

            h2 {
                text-transform: uppercase;
                margin: 0 0 10px 0;
                font-size: 16px;
                font-weight: 900;
                line-height: 1.09;
                color: #fff;

                &.header {
                    font-size: 20px;
                }

                .tag {
                    color: #b8e986;
                }
            }

            h6 {
                font-size: 16px;
                margin: 0;
                position: absolute;
                bottom: $vertical-padding;
                left: $horizontal-padding;
                color: #fff;
                font-weight: bold;

                .note {
                    display: block;
                    font-size: 12px;
                }
            }

            .greeting {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                color: #fac420;
                position: absolute;
                bottom: 11%;
                right: 15%;
            }
        }
    }
}

#add-story-button-container {
    $button-diameter: 60px;
    
    z-index: 1000;
    position: fixed;
    right: 20px;
    bottom: 110px;
    color: #fff;
    background-color: rgb(255, 255, 255);
    border-radius: $button-diameter;

    h6 {
        padding-left: 20px;
        margin: 0;
        vertical-align: middle;
        display: inline-block;
        font-size: 16px;
        font-weight: 900;
        line-height: $button-diameter;
        overflow: hidden;
        text-overflow: clip;
        max-height: $button-diameter;
        color: #9b9b9b;
    }

    #add-story-button {
        font-family: Arial;
        vertical-align: middle;
        display: inline-block;
        background-color: #f6a623;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: $button-diameter;
        height: $button-diameter;
        border-radius: $button-diameter;
        line-height: $button-diameter;
        font-size: 52px;
        text-align: center;
    }
}
