<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.altolife\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://altolife.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Static Relative Rewrite Rule" stopProcessing="true">
          <match url="^[^\/]*(.*)$" />
          <conditions>
            <add input="{StaticRelativeRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="false" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="StaticRelativeRewrites">
          <add key="/promousa" value="/Promo?code=Q5D9OZILUJ" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
