#html {
    .picture-preview {
        height: 500px;
        background-color: #e4e4e4;
        background-position: center;
        background-size: cover;
        margin-bottom: 50px;
    }

    #content-label {
        transform: translateY(-200%);
    }

    .btn {
        margin-bottom: 30px;
    }
}