@{
    ViewBag.Title = "Registration Confirmation";
}
@section Head
{ 
    <style>
        #html h1 {
            font-size: 30px;
            text-align: center;
            margin: 70px 0 50px 0;
        }
    </style>
}
<div class="container">
    <div class="row">
        <h1>
            Registration Confirmation
        </h1>
        <div class="col offset-s2 s8">
            <p>
                Thank you for joining yoocan!<br/><br/>
                We are excited to have you join us as a valued partner.<br/><br />
                We will contact you as soon as possible to explore this opportunity.<br/><br/>
                Looking forward to talking to you,<br/><br/>
                Moshe Gaon, Co-Founder and CEO
            </p>
        </div>
    </div>
</div>