@model int
<embedCss href="/css/Shared/chatEmbedded.css" />
<div class="embedded-chat-register-button-container">
    <div>
        <div class="chat-register-button">
            <button class="btn">
                @*To participate please register*@
                Please register to view the chat
            </button>
        </div>
    </div>
</div>
<div class="hide" id="default-chatroom-id">@Model</div>
@*<div class="iflychat-embed" data-height="550px" data-width="100%" data-room-id="@Model"></div>*@