<div class="yoocan-logo logo left menu-item">
    <a href="@(Context.Request.Path.Value.Contains("/Story/Create") ? "#!" : "/")">
        <div class="logos">
            <img src="/images/yoocan-logo-small.png" alt="yoocan icon" />
            <img src="/images/yoocan-logo.png" alt="yoocan logo" />
            <div class="slogan">
                DO ANYTHING
            </div>
        </div>
    </a>
</div>