<form asp-action="Search" asp-controller="Search" method="get">
    <div class="input-field valign-wrapper search-control" role="search">
        <input class="search-query valign" type="search" placeholder="Search" name="query" data-allow-enter="true">
        <button><i class="material-icons">search</i></button>
    </div>
</form>