@model string
<embedCss Href="/css/Shared/shareCard.css"/>
<div class="social-buttons card share-widget" data-source="card">
    <h4>@Model</h4>
    <div class="buttons-container">
        <a class="waves-effect waves-light btn facebook" data-platform="facebook" href="#" rel="nofollow">
            <img src="/images/facebook-icon-white.svg" />
            <span class="text facebook-shares">SHARE</span>
        </a>
        <a class="waves-effect waves-light btn twitter" data-platform="twitter" href="#" rel="nofollow">
            <img src="/images/twitter-icon-white.svg" />
            <span class="text">TWEET</span>
        </a>
        <a class="waves-effect waves-light btn pinterest" data-platform="pinterest" href="#" rel="nofollow">
            <img src="/images/pinterest-icon-white.svg" />
            <span class="text">PIN IT</span>
        </a>
        <a class="waves-effect waves-light btn google-plus" data-platform="google-plus" href="#" rel="nofollow">
            <img src="/images/gplus-icon-white.svg" />
            <span class="text">SHARE</span>
        </a>
    </div>
</div>