<embedcss Href="/css/Shared/stickyShare.css"></embedCss>
<div id="sticky-social" class="hide-on-small-only share-widget" data-source="sticky">
    <a class="facebook" rel="nofollow" href="#" data-platform="facebook">
        <img src="/images/facebook-icon-white.svg" asp-append-version="true" />
    </a>
    <a class="twitter" rel="nofollow" href="#" data-platform="twitter">
        <img src="/images/twitter-icon-white.svg" asp-append-version="true" />
    </a>
    <a class="pinterest" rel="nofollow" href="#" data-platform="pinterest">
        <img src="/images/pinterest-icon-white.svg" asp-append-version="true" />
    </a>
    <a class="google-plus" rel="nofollow" href="#" data-platform="google-plus">
        <img src="/images/gplus-icon-white.svg" asp-append-version="true" />
    </a>
    @*<div class="email">
            <img src="/images/facebook-icon-white.svg" asp-append-version="true"/>
        </div>*@
</div>