@{
    ViewData["Title"] = "Error";
}
@{
    ViewBag.Title = "Error";
}
<style>
    .bg-image {
        background-image: url('https://i.imgur.com/DiCGyM5.png');
    }

    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .error-actions .btn {
        margin-right: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Ooops!
            </h1>
            <div class="error-details">
                Sorry, an error occurred while processing your request.
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    Take Me Home
                </a><a href="mailto:jessica@yoocantech.com?subject=Page not found" target="_Blank" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
            </div>
        </div>
    </div>
</div>