<a href="https://yoocanfind.com/Story/1166/live-chat-on-yoocan-parenting-differentlyabled-children">
    <div class="alto-card-promo card hoverable chat-event">
        <div class="card-content">
            <h2>
                Empowerment Chat
            </h2>
            <h6>
                Topic: <br />Parenting
                <span class="date">November 15th / 11AM CST</span>
            </h6>   
        </div>
        <div class="card-button">
            JOIN US
        </div>
    </div>
</a>