<embedcss href="/css/Home/ReelAbilitiesCard.css"></embedcss>
<a asp-controller="Home" asp-action="ReelAbilities">
    <div class="reelabilities-card card hoverable alto-card-promo option-card">
        <div class="card-content no-button">
            <div>
                <img src="~/images/home/cards/reel/year.jpg" alt="10th annual" />
                <img class="location hide-on-small-only" src="~/images/home/cards/reel/location.jpg" alt="Marlene Meyerson JCC Manhattan" />
                <img class="reel-logo" src="~/images/home/cards/reel/logo.jpg" alt="ReelAbilities" />
                <h5>FILM FESTIVAL</h5>
                <p class="date">MARCH 8-14 NEW YORK</p>
            </div>
            <div class="bottom">
                <span class="yoocan-logo">
                    <span>Y</span><span>O</span><span>O</span><span>C</span><span>A</span><span>N</span>
                </span>
                COMPETITION
            </div>
        </div>
    </div>
</a>