<a asp-controller="Shop" asp-action="Index">
    <div class="alto-card-promo card hoverable">
        <div class="card-content competition">
            <h2>
                <span class="new">NEW</span><br />
                yoocan shop
            </h2>
            <h6 class="greeting">HAPPY THANKSGIVING</h6>            
        </div>
        <div class="card-button thanksgiving">
            SHOP NOW
        </div>
    </div>
</a>