<embedcss href="/css/Home/TechnologiesCard.css"></embedcss>
<a asp-action="Technologies" id="technologies-card">
    <div class="alto-card-promo card hoverable option-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('/images/home/cards/technologies.jpg')">
        <div class="card-content no-button">
            <h3 class="white-text">
                YOOCAN TECHNOLOGIES
            </h3>
            <h4 class="white-text">
                JOIN ASSISTIVE TECH HUB & INVESTORS CLUB
            </h4>
        </div>
    </div>
</a>