<a href="https://docs.google.com/forms/d/e/1FAIpQLScmyO6fEnBTEKgEln0Ysy-KP8U6mcOly90ffG8SFtm4gOBlpA/viewform" target="_blank">
    <div class="alto-card-promo card hoverable yoocan-shirt-card">
        <div class="card-content yoocan-shirt">
            <img src="/images/promo/yoocan-shirt.png" />
        </div>
        <div class="card-button gold">
            BUY A YOOCAN SHIRT
        </div>
    </div>
</a>