<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=yooocandevjobstorage;AccountKey=cDJQw1FRGJT0aYMHso31oEmDUbvHBE8RrVCfpxpwUMqqzz2CuwX2SB//2YCMB0XG73YPNcbPoArx5mHZiv4HLw==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=yooocandevjobstorage;AccountKey=cDJQw1FRGJT0aYMHso31oEmDUbvHBE8RrVCfpxpwUMqqzz2CuwX2SB//2YCMB0XG73YPNcbPoArx5mHZiv4HLw==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>
