@import '../_variables.scss';

.breadcrumbs {
    height: 30px;
    margin: 25px 0;

    .breadcrumb {
        text-transform: uppercase;
        color: #1e2226;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 30px;

        &:last-child {
            color: #c6c6c6;
        }

        &:before {
            color: #1e2226;
            content: '/';
            font-size: 14px;
            font-weight: bold;
            line-height: 30px;
            vertical-align: baseline;
        }
    }
}

#product-page {
    .left-col {
        display: flex;

        .images-container {
            display: inline-flex;
            margin-right: 20px;
            flex-direction: column;
            // Workaround for flex-wrap
            /*flex-wrap: wrap;
            flex-direction: row;
            writing-mode: vertical-lr;
            max-height: 700px;*/
            .img-container {
                /*writing-mode: initial;*/
                height: 52px;
                width: 52px;
                padding: 1px;
                background-position: center;
                background-repeat: no-repeat;
                border: 1px solid #a2a6ac;
                background-size: contain;
                margin-bottom: 10px;
                background-origin: content-box;
                cursor: pointer;

                &.active {
                    -webkit-box-shadow: 0px 0px 3px 2px rgba(163,11,49,0.75);
                    -moz-box-shadow: 0px 0px 3px 2px rgba(163,11,49,0.75);
                    box-shadow: 0px 0px 3px 2px rgba(163,11,49,0.75);
                }
            }
        }

        .main-container {
            flex: 1;
        }

        img.main {
            max-width: 100%;
            height: auto;
            max-height: 700px;
            margin: 0 auto;
        }
    }

    .col.main {

        .saving-container {
            line-height: 1;

            .you-save {
                font-size: 36px;
                color: #4a4a4a;
            }

            .saved-raw {
                font-size: 50px;
                margin-left: 5px;
                font-weight: bold;
                color: #c30016;
            }

            .saved-percentage {
                font-size: 36px;
                color: #c30016;
            }
        }

        .list-price-container {
            font-size: 20px;
            color: #1e2226;
        }

        .list-price-deleted {
            color: #d0011b;
            text-decoration: line-through;
        }

        .price-container {
            font-size: 20px;
            color: #1e2226;
            line-height: 1;
        }


        .name {
            margin: 18px 0;
            font-size: 36px;
            color: #000;
        }

        .company-name {
            font-size: 32px;
            font-weight: 900;
            line-height: 0.94;
            color: #7f8fa4;
            margin-bottom: 30px;
        }



        .select-container {
            margin: 20px 0;
            display: flex;

            label {
                width: 130px;
                text-align: right;
                padding-right: 13px;
                font-size: 13px;
                max-width: 28%;
                overflow-wrap: break-word;

                &::after {
                    content: ' *';
                    color: crimson;
                }
            }
        }

        select.browser-default {
            max-width: 190px;
            padding: 3px;
            border: 1px #ddd solid;
            height: 35px;

            &:focus {
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                border-color: #66afe9;
            }

            &.error {
                border: 2px solid #E8281E;
            }
        }

        .content {
            font-size: 18px;
            color: #1e2226;
            margin-right: 30px;
            white-space: pre-wrap;
            margin: 18px 0;

            ul {
                padding-left: 18px;
            }

            li {
                list-style: disc;
            }
        }
    }

    .right-col {
        .logo {
            margin-bottom: 35px;
            max-width: 100%;
            max-height: 90px;
        }

        .btn.buy-button {
            margin-bottom: 10px;
            border-radius: 6px;
            text-transform: none;
            background-color: #1366da;
            font-size: 22px;
            font-weight: bold;
            line-height: 70px;
            height: 70px;
            width: 100%;
            padding: 0 5px;
        }

        #paypal-button {
            iframe {
                margin: auto;
            }
        }

        .credit-card-note {
            font-size: 12px;
        }

        .details-container {
            margin-left: 10px;
        }

        .line {
            width: 100%;
            margin-top: 35px;
            border-bottom: solid 2px #dcdcdc;
        }

        .save-text {
            font-size: 16px;
            margin: 17px 0;
            color: #1e2226;
        }

        .shipping {
            margin-top: 20px;
            font-size: 12px;
            color: #1e2226;

            h6 {
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 7px;
                line-height: 1;
            }
        }
        /*.save-container {
            i.material-icons {
                font-size: 35px;
                color: #d0021b;
            }

            span.save {
                vertical-align: top;
                font-size: 18px;
                color: #1e2226;
                padding-top: 5px;
                display: inline-block;
                padding-left: 4px;
            }
        }*/
    }

    .row > .main {
        border-right: solid 1.5px #979797;
    }

    @media #{$large-and-up} {
        .row > .left-col, .row > .main {
            width: 40% !important;
        }

        .row > .right-col {
            width: 20% !important;
        }
    }
}
