<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime maxQueryStringLength="64768" maxUrlLength="65536" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Accessing Seq logs" stopProcessing="true">
          <match url="^seqlog/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.yoocanfind\.com$" negate="false" />
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" url="http://40.112.215.139:5341/{R:1}" />
        </rule>
        <rule name="RedirectAltoProducts" stopProcessing="true">
          <match url="^Product/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="altolife\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/Product/Alto/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectAltoMenu" stopProcessing="true">
          <match url="^Menu$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="altolife\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/" redirectType="Found" />
        </rule>
        <rule name="RedirectAltoTravelCategory" stopProcessing="true">
          <match url="^Category/Travel$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="altolife\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/Shop/Category/115/travel" redirectType="Found" />
        </rule>
        <rule name="RedirectAltoCategories" stopProcessing="true">
          <match url="^Category/(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="altolife\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/Benefit/Category/{R:1}" redirectType="Found" />
        </rule>
        <rule name="CanonicalHostNameRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.yooocan\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="CanonicalHostNameRule2" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.yoocanfind\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Beta is over" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^beta\.yooocan\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="permanent domain redirects" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="yooocan\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="vote page" stopProcessing="true">
          <match url="^vote$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="yoocantech\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://goo.gl/forms/9mHcRAGh7Fdexzd92" redirectType="Found" />
        </rule>
        <rule name="Found redirects for rest of alto and other domains" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="altolife\.com$|yoocandoanything\.com$|yoocantech\.com$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://yoocanfind.com/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="64768" maxUrl="65536"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
