<embedcss href="/css/Product/Header"></embedcss>
<header id="product-header" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.imgur.com/Q4OF7K3.jpg')">
    <h1>DAILY LIVING</h1>
    @*<h5>The Laptop Laidback is simply another device with the sole purpose to reduce the pain and increase the quality of time spent within our workspace, which for many includes a laptop for extended periods daily.</h5>*@
</header>