@import '../_variables.scss';

.menu {
    $padding: 0 20px;
    border: solid 1px #bcbcbc;
    text-align: left;

    .parent {
        background-color: $main-color;
        border: solid 1px #979797;
        font-size: 16px;
        line-height: 35px;
        margin: 0;
        padding: $padding;

        a {
            color: #fff;
            font-weight: bold;
        }
    }

    > ul {
        padding-top: 17px;
        margin: 0;
        background-color: #fff;
    }

    a {
        &:hover {
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.1);
            color: #000;
        }

        color: #9b9b9b;
        font-size: 14px;
        line-height: 35px;
        display: block;
        padding: $padding;
    }

    li.active {
        span {
            font-size: 16px;
            color: #4a4a4a;
            font-weight: bold;
            padding: $padding;
            display: block;
        }
    }


    ul.hot a {
        &:hover {
            color: #4a4a4a;
        }

        padding-left: 47px;
        color: #4a4a4a;
    }
}
