<embedcss href="/css/Benefit/Header"></embedcss>
<header id="benefit-header" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://lorempixel.com/output/nature-q-c-1920-500-10.jpg')">
    <h1>ADAPTIVE PARKS</h1>
    <h5>The United States has 59 protected areas known as national parks that are operated by the National Park Service, an agency of the Department of the Interior. National parks must be established by an act of the United States Congress.</h5>
</header>